body {
  font-family: Arial, sans-serif;
  margin: 40px;
  line-height: 1.6;
}

/* Heading Styling */
header h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

header p {
  color: gray;
}

/* Sections */
section {
  margin-bottom: 40px;
}

/* Table */
table {
  border-collapse: collapse;
  width: 60%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

/* Links */
a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
.profile-pic {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%; /* makes it round */
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.profile-pic:hover img {
  transform: scale(1.3); /* zoom effect */
}

